<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Chez MiyaLolo</a>

  <div class="locales-flags">
    <a href="">
      <img width="32" height="32" src="assets/images/flags/france-icon.png" alt="FR" title="Français" />
    </a>
    <a href="">
      <img width="32" height="32" src="assets/images/flags/japan-icon.png" alt="JP" title="日本語" />
    </a>
  </div>

  <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">

      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTimeline" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Moments de vie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuTimeline">
          <a class="dropdown-item" routerLink="timeline/carine">Carine</a>
          <a class="dropdown-item" href="#">Mariage</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuPets" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Animaux
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuPets">
          <a class="dropdown-item" href="#">Freddy</a>
          <a class="dropdown-item" href="#">Ulala</a>
          <a class="dropdown-item" href="#">Ramsès</a>
        </div>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="collapseNav()">Chronologie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="collapseNav()" [ngx-scroll-to]="'pets'">Animaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="collapseNav()">À propos</a>
      </li>
    </ul>
  </div>

</nav>