/* US */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
/* PETS*/

@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
/* header section */

header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    min-height: auto;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-family: 'Kaushan Script', sans-serif;
    margin-bottom: 50px;
    text-align: left;
}

/* Timeline sections */

#timeline-us .container, #pets .container {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.timeline {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
    border-bottom: 3px solid #f05f40;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}

.timeline-item {
    padding: 40px 0;
    /*
    opacity: .3;
    filter: blur(2px);
    */
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

#pets {
    background: rgba(99, 99, 99, 0.8);
}

/* About section */

#about .list-inline-item a {
    color: white;
}

/* Responsive */

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
 }

@media (max-width: 768px) {

    #about p {
        display: inline-block;
    }

    #about div.about-column {
        margin-bottom: 20px;
    }

    #about div.about-column p:first-child{
        width: 130px;
    }
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.home-contact p svg {
    margin-right: 20px;
}

.home-social {
    margin-top: 40px;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

/*  Us Timeline */

#timeline-us {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    position: relative;
    background: #27a6bc linear-gradient(130deg, #017f96 0, #57d8eb 100%) no-repeat fixed;
}

.timeline-life {
    /*width: 80%;*/
    margin-left: 10%;
    margin-bottom: 40px;
    border-left: 3px solid #c0392b;
}

.timeline-life img {
    width: 150px;
}

/*.timeline-life:before {
    content: "";
    position: absolute;
    width: 3px;
    height: calc(100% - 80px);
    background: #c0392b;
}*/

.timeline-life .column {
    margin: 40px 40px 40px 120px;
}

.timeline-life .column .title {
    cursor: pointer;
}

.timeline-life .column .title h1 {
    font-size: 120px;
    color: rgba(0, 0, 0, 0.1);
    font-family: serif;
    letter-spacing: 5px;
    display: block;
    font-weight: bold;
}

.timeline-life .column .title h1:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 3px solid #c0392b;
    margin-top: 95px;
    margin-left: -129px;
}

.timeline-life .column .title h2 {
    margin-top: -70px;
    margin-left: -10px;
    font-size: 35px;
    font-weight: bold;
}

.timeline-life .column .description {
    border-left: 1px solid #000;
    margin-left: -10px;
}

.timeline-life .column .description p {
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: serif;
    text-align: justify;
}

.timeline-life-main {
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}

.timeline-life-main h1 {
    font-size: 80px;
    line-height: 60px;
}

.timeline-life-main p {
    font-size: 13px;
    line-height: 20px;
    font-family: serif;
    text-align: right;
}

.timeline-life .vignette {
    float: right;
}

@media (max-width: 700px) {
    .timeline-life-main h1 {
        font-size: 40px;
        line-height: 0px;
    }
    .timeline-life-main p {
        margin-top: 30px;
    }
    .timeline-life {
        border-left: 1px solid #c0392b;
    }
    .timeline-life .column .title h1 {
        font-size: 60px;
    }
    .timeline-life .column .title h2 {
        margin-top: -37px;
        font-size: 15px;
    }
    .timeline-life .column .description p {
        font-size: 8px;
    }
    .timeline-life .column .description {
        border-left: 1px solid #d3d3d3;
    }
    .timeline-life .column {
        margin: 40px 40px 40px 60px;
    }
    .timeline-life .column .title h1:before {
        width: 10px;
        height: 10px;
        margin-top: 48px;
        margin-left: -65px;
        border: 1px solid #c0392b;
    }
}

#about .container {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
}