<!-- Page Content -->
<div id="timeline-carine" class="container">

  <ngx-loading [show]="!isPageLoaded" [config]="{ backdropBorderRadius: '14px', primaryColour: '#0069d9', secondaryColour: '#0069d9', tertiaryColour: '#0069d9' }"></ngx-loading>

  <ng-container *ngIf="isPageLoaded">

    <!-- Photos -->
    <h1>Naissance et premiers temps</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm text-center">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>
    </div>

    <!--
    <div class="my-app-custom-plain-container-row">
      <ng-container *ngFor="let img of images; let i = index">
        <div *ngIf="i <= nbImagesToDisplay">
          <a class="more" *ngIf="i === nbImagesToDisplay" (click)="openImageModalRow(img)"> +{{images.length - nbImagesToDisplay - 1}} more </a>
          <img *ngIf="img.plain && img.plain.img; else noThumb" class="my-app-custom-image-row" [src]="img.plain.img" (click)="openImageModalRow(img)"
            [alt]="img.modal.description" />

          <ng-template #noThumb>
            <img class="my-app-custom-image-row" [src]="img.modal.img" (click)="openImageModalRow(img)" [alt]="img.modal.description"
            />
          </ng-template>
        </div>
      </ng-container>
    </div>

    <ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="customPlainGalleryRowConfig">
    </ks-modal-gallery>
    -->




  </ng-container>
</div>